block content
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="/css/style.css")
    link(rel="stylesheet", href="/css/footer.css")
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js')


    

    nav.navbar.navbar-expand-custom.navbar-mainbg
      a.navbar-brand.navbar-logo(href='/')
      button.navbar-toggler(type='button' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
        i.fas.fa-bars.text-white
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          .hori-selector
            .left
            .right

          li.nav-item
            a.nav-link(href='/')
              i.far.fa-calendar-alt
              | Home
          li.nav-item
            a.nav-link(href='/products')
              i.far.fa-calendar-alt
              | Buy
          li.nav-item
            a.nav-link(href='/users/profile')
              i.far.fa-calendar-alt
              | Profile


    .container.fotos
      span.close(style="color:red; left:250px") X
      a(href="/discounts" target="_blank")
        //- h1 View products that are in discount
        .container1
          img(src="/banners/mega-sale.png",  class="centerr" alt="" id="banner" style="max-width:600px;width:100%; border-radius:20px; display:flex; margin:0 auto")
          img(src="/banners/mega lluks.png", class="centerr" alt="" id="banner" style="max-width:600px;width:100%; border-radius:20px; display:flex; margin:0 auto")
      br
      br

    if message.length > 0
      .container
        h1(class="alert alert-success") #{message}
           
    if isFeatured.length > 0
      h2(style="text-align:center") Featured products
        each product in isFeatured
          .container.mt-5.mb-5
            .d-flex.justify-content-center.row
              .col-md-10
                .row.p-2.bg-white.border.rounded
                  .col-md-3.mt-1
                    a(href="/products/"+product._id) 
                      img.img-fluid.img-responsive.rounded.product-image(src="/images/products/"+product.prodImg[0], alt=product.name style="width:70%; height:70%; display:flex;") 
                  .col-md-6.mt-1
                    a(href="/products/"+product._id) 
                      h5 Product Name : #{product.prodName}

                      

                      span 
                    //- .mt-1.mb-1.spec-1
                    //-   span Category : #{product.prodCategory}
                    //-   span.dot 
                    //-     br
                    p.text-justify.text-truncate.para.mb-0
                      | Description : #{product.prodDesc}
                      br
                      br
                    .d-flex.flex-row
                      .ratings.mr-2
                        i.fa.fa-star(style="color: gold")
                        i.fa.fa-star(style="color: gold")
                        i.fa.fa-star(style="color: gold")
                        i.fa.fa-star(style="color: gold")
                        i.fa.fa-star(style="color: gold")

                  .align-items-center.align-content-center.col-md-3.border-left.mt-1
                    .d-flex.flex-row.align-items-center
                      h4.mr-1 Price : #{parseFloat(product.prodPrice - (product.prodPrice * 5 / 100)).toFixed(2)}den
                      span.strike-text(style="font-size:12px") #{parseFloat(product.prodPrice).toFixed(2)}den
                    h6.text-success Free shipping
                    .d-flex.flex-column.mt-4
                      a.btn.btn-primary.btn-sm(type='button' href='/products/'+product._id) View Details
                      //- button.btn.btn-outline-primary.btn-sm.mt-2(type='button') Add to wishlist
    br
    br
    br
    br
    br

    .container
      h2(style="text-align:center; background-color:rgb(51, 51, 51); padding:10px; color:white") Choose products by their category
    br
    .container#categories(style="display:flex; padding:10px; border-radius:20px; background:white;")
      each category in categories 
        .prodCat
          a.category-name(href="/"+category._id style="text-align:center; font-size:18px; color:black; ") #{category.catName}
            .category-image
              img(src="/images/categories/"+category.catImg, id="category-img" alt="") 
    br
    br


    footer.footer
      .column.footer
        h3.footer About us
        p.footer Phone : +389 76 224 065
        p.footer Personal Emails : etnikz2002@gmail.com 
        //- p.footer Personal Emails : etnikz2002@gmail.com or dardanramani907@gmail.com
        p.footer Info Email : ed-store.info@gmail.com
        //- p.footer Designed By : Dardan Ramani
        p.footer Developed By : Etnik Zeqiri
 
      .column.footer
        h3.footer Our Services
        ul.footer
          li.footer
            a(href="/products" target="_blank").footer Buy high quality and first class products.
          li.footer
            a(href="#" ).footer We deliver products to our customer in the entire Macedonia.
          li.footer
            //- a( target="_blank" ).footer Mundësi për tu punësuar ne firmën tonë
            //- a(href="/careers" target="_blank" ).footer Mundësi për tu punësuar ne firmën tonë

      .column.footer
        h3.footer Other services
        ul.footer
          li.footer
            a.footer(href='http://auto-mk.com/' target="_blank") Auto-MK
            br
            a.footer(href='https://kupivreki.netlify.app/' target="_blank") Kupi Vreki MK

          
      .column.footer
        h3.footer Get in touch with us!
        form(action='https://formspree.io/f/mqkjpqyj' method='POST' )
          label(style="color:white")
            | Your email*
            input(type='email' name='name' class="form-control" required)
          br
          label(style="color:white")
            | Your message*:
            br
            textarea(name='message' class="form-control" required)
          br
          button(type='submit' class="btn btn-success") Send

            //-  a.bardh(href=`mailto:etnikz2002@gmail.com`) Dërgo
    //- if allUsers.length > 0
    //-   p= allUsers.length
    .bottom.footer
      p.footer.copyright &copy; copyright Etnik Zeqiri 2022


    

 
  

    script.
      var modal = document.getElementById("myModal");

      // Get the button that opens the modal
      var btn = document.getElementById("myBtn");

      // Get the <span> element that closes the modal
      var span = document.getElementsByClassName("close")[0];

      // When the user clicks on the button, open the modal
      btn.onclick = function() {
        modal.style.display = "block";
      }

      // When the user clicks on <span> (x), close the modal
      span.onclick = function() {
        modal.style.display = "none";
      }

      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function(event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      }


      // ---------Responsive-navbar-active-animation-----------
      function test(){
      var tabsNewAnim = $('#navbarSupportedContent');
      var selectorNewAnim = $('#navbarSupportedContent').find('li').length;
      var activeItemNewAnim = tabsNewAnim.find('.active');
      var activeWidthNewAnimHeight = activeItemNewAnim.innerHeight();
      var activeWidthNewAnimWidth = activeItemNewAnim.innerWidth();
      var itemPosNewAnimTop = activeItemNewAnim.position();
      var itemPosNewAnimLeft = activeItemNewAnim.position();
      $(".hori-selector").css({
      "top":itemPosNewAnimTop.top + "px",
      "left":itemPosNewAnimLeft.left + "px",
      "height": activeWidthNewAnimHeight + "px",
      "width": activeWidthNewAnimWidth + "px"
      });
      $("#navbarSupportedContent").on("click","li",function(e){
      $('#navbarSupportedContent ul li').removeClass("active");
      $(this).addClass('active');
      var activeWidthNewAnimHeight = $(this).innerHeight();
      var activeWidthNewAnimWidth = $(this).innerWidth();
      var itemPosNewAnimTop = $(this).position();
      var itemPosNewAnimLeft = $(this).position();
      $(".hori-selector").css({
      "top":itemPosNewAnimTop.top + "px",
      "left":itemPosNewAnimLeft.left + "px",
      "height": activeWidthNewAnimHeight + "px",
      "width": activeWidthNewAnimWidth + "px"
      });
      });
      }
      $(document).ready(function(){
      setTimeout(function(){ test(); });
      });
      $(window).on('resize', function(){
      setTimeout(function(){ test(); }, 500);
      });
      $(".navbar-toggler").click(function(){
      $(".navbar-collapse").slideToggle(300);
      setTimeout(function(){ test(); });
      });
      // --------------add active class-on another-page move----------
      jQuery(document).ready(function($){
      // Get current path and find target link
      var path = window.location.pathname.split("/").pop();
      // Account for home page with empty path
      if ( path == '' ) {
      path = 'index.html';
      }
      var target = $('#navbarSupportedContent ul li a[href="'+path+'"]');
      // Add active class to target link
      target.parent().addClass('active');
      });
      // Add active class on another page linked
      // ==========================================
      $(window).on('load',function () {
          var current = location.pathname;
          console.log(current);
          $('#navbarSupportedContent ul li a').each(function(){
              var $this = $(this);
              // if the current path is like this link, make it active
              if($this.attr('href').indexOf(current) !== -1){
                  $this.parent().addClass('active');
                  $this.parents('.menu-submenu').addClass('show-dropdown');
                  $this.parents('.menu-submenu').parent().addClass('active');
              }else{
                  $this.parent().removeClass('active');
              }
          })
      });
