block content
  head
    link(rel="stylesheet", href="/css/style.css")
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js')
   
    
    nav.navbar.navbar-icon-top.navbar-expand-lg.navbar-dark.bg-dark
      a.navbar-brand(href='/') ED-Store
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link(href='/')
              i.fa.fa-home
              |           Home
              span.sr-only (current)
          li.nav-item
            a.nav-link(href='/products')
              i.fa.fa-envelope-o
                span.badge.bg-danger #{allProducts}
              |           Buy

          li.nav-item
            a.nav-link(href='/users/profile')
              i.fa.fa-globe
              | Profile


          .dropdown
            button.dropbtn Categories
            .dropdown-content
              each category in categories
                a(href="/"+category._id) #{category.catName}


    h1(style="text-align:center") Choosen category : #{catId.catName}  
        br  
        hr
        .container.products 
            if prodCat.length > 0
                each p in prodCat 
                    .card(id="card" style="padding:20px")
                        a(href="/products/"+p._id) 
                          h4.card-title #{p.prodName}
                          if p.discount
                            h2(class="badge bg-danger" style="font-size:20px; float:left") #{p.discount} %
                          img.card-img-top(src="/images/products/"+p.prodImg[0], alt=p.prodName style="height:250px")
                          .card-body
                            p.card-text(style="font-size:18px")
                              //- | Description : #{p.prodDesc}

                            //- p.card-text(style="font-size:18px")
                            //-   | Price : #{p.prodPrice}den
                            //- p.card-text
                            //-   | Category : #{p.prodCategory}
                            .card-body(style="font-size:16px")
                              if p.sold > 0
                                p.card-text
                                  | Sold : #{p.sold} 
                              else  
                                  | Sold : 0                             
                            a.card-link(href="/products/"+p._id class="btn btn-success") View Product 
            else 
                .container.products 
                    h1 No products found from the category you choosed. 
                        a(class="btn btn-warning" href="/") Go back
                
                    
  